[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
python-dotenv = "*"
iso8601 = "*"

[dev-packages]
memory-profiler = "*"

[requires]
python_version = "3.9"
